#Pricing-0{
    background-image: url("../../../images/Pricing/pricing-0.png");
    background-size: contain;
    
  }
  
  #Pricing-1{
    background-image: url("../../../images/Pricing/pricing-1.png");
    background-size: contain;
  }
  
  #Pricing-2{
    background-image: url("../../../images/Pricing/pricing-2.png");
    background-size: contain;
  }

  #Pricing-3{
    background-image: url("../../../images/Pricing/pricing-3.png");
    background-size: contain;
  }

