#progress{
  display: none;
}


.dzu-dropzone{
min-width: 300px;
}


.preview-box {
  display:flex;
  align-items:center;
  width: calc(100% - 30px);
  padding: 10px 3%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
 
.preview-box img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 4px;
  margin-right: 10px;
}
 
.preview-box .name {
  font-style: italic;
  color: #666;
  margin-right: 7px;
}
 
.preview-box .percent {
  font-weight: 600;
}
 
.preview-box .status {
  margin-left: 7px;
  font-weight: 600;
  text-transform: uppercase;
}

/* new */

.files input {
  outline: 2px dashed #3c3c3c;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 115px 0px 85px 8%;
  text-align: center !important;
}

.files{ 
  position: absolute;
  max-width: 225px;
  margin-left: -3px;
}
.files:after {  pointer-events: none;
  position: absolute;
  top: 40px;
  left: 12px;
  width: 50px;
  right: 0px;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 75%;
  background-repeat: no-repeat;
}
/* .color input{ background-color:#f1f1f1;} */

.uploadBtn{
  border: solid 1px #3c3c3c;
}

.FileUploader .files label{
  position: absolute;
  top: 85px;
  left: 36px;
  font-weight: 600;
}


input[type=file]::-webkit-file-upload-button {
  border: 1px solid #3c3c3c;
  border-radius: 25px;
  background-color: #FFF;
  transition: 1s;
  font-size: 11px;
  position: relative;
  left: 0;
  bottom: 0;
}

input[type=file]::file-selector-button {
  border: 1px solid #3c3c3c;
  border-radius: 25px;
  background-color: #FFF;
  transition: 1s;
  font-size: 11px;
  position: relative;
  left: 0;
  bottom: 0;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: rgb(249, 123, 130);
  border: 2px solid rgb(249, 123, 130);
}

input[type=file]::file-selector-button:hover {
  background-color: rgb(249, 123, 130);
  border: 2px solid rgb(249, 123, 130);
}

.uploadBtn{
  background-color: #3f3f3f;

  color: #FFF;
}

.uploadBtn:hover{
  background-color: rgb(249, 123, 130);


}


